body {
    .wpcf7 {
        @include wrapper;

        .webform {
            display: flex;
            flex-wrap: wrap;
            background-color: $white;
            box-shadow: 0 0 rem(20px) rgba($blue-dk, 0.3);

            &-column {
                width: 100%;
                padding: rem(20px);
                position: relative;
                
                @include mq('md') {
                    padding: rem(40px) rem(60px) 0;
                    width: 50%;

                    &:nth-child(2) {
                        border-left: rem(1px) solid $txt;
                    }
                }

                header {
                    text-align: left;

                    h3 {
                        display: inline-block;
                        padding-bottom: rem(20px);
                        margin-bottom: rem(20px);
                        position: relative;

                        &::after {
                            @include afterline(100%, rem(12px), 'yup');
                        }

                        @include mq('md') {
                            @include font(28px);
                        }
                    }
                }
            }

            &-field {
                margin-bottom: rem(26px);

                @include mq('md') {
                    @include font(18px);
                }

                &__text {
                    input {

                        &[type="text"],
                        &[type="email"] {
                            border: none;
                            padding: rem(10px) 0;
                            border-radius: 0;
                            border-bottom: rem(1px) solid $txt;
                        }
                    }
                }

                &__textarea {
                    textarea {
                        width: 100%;
                        height: 100%;
                        border: none;
                        padding: 0;
                    }
                }

                &__cta {
                    margin-bottom: 0;

                    input {
                        &[type="submit"] {
                            border-radius: 0;
                            color: $white;
                            height: auto;
                            @include background-gradient($salmon, $purple, 'horizontal');
                            border: none;
                            padding: rem(16px);

                            @include mq('md') {
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Section styles
.contact-form {
    padding: rem(40px) rem(20px);
    position: relative;
    background-color: rgba($blue-dk, 0.1);

    @include mq('md') {
        padding: rem(215px) 0;
    }
}
