body {
  font-size: 16px;
  font-family: $rg;

  p {
    line-height: 1.5;
  }

  strong,
  b {
    font-family: $bd;
  }

  // Link styles
  button,
  a {
    transition: all 0.5s;
    cursor: pointer;

    &:hover {
      transition: all 0.4s;
    }
  }


  section {
    >header {
      text-align: center;

      h3 {
        display: inline-block;
        padding-bottom: rem(30px);
        margin-bottom: rem(30px);
        position: relative;

        &::after {
          @include afterline(100%, rem(12px), 'yup');
        }

        @include mq('md') {
          @include font(38px);
        }
      }

      h4 {
        width: 70%;
        text-align: left;
        @include font(18px);
        font-family: $bd;
      }

      img {
        width: 20%;
      }
    }
  }

  form {
    select {
      -webkit-appearance: none;
      -moz-appearance: none;

      &::-ms-expand {
        display: none;
      }
    }
  }

  // Buttons
  .btn {
    &-primary {
      @include generalBtn(rem(11px), $white, $red, $black);
    }
  }
}