body {
    .navbar {
        background-color: transparent !important;
        position: fixed;
        margin: 0 0;
        padding: rem(12px);
        top: 0;
        left: 0;
        width: 100%;
        transition: all 0.43s;
        z-index: 10;

        @include mq('md'){
            padding: rem(25px) 0;
        }

        &-brand {
            @include iconSVG('../images/brand/white-logo.svg');
            width: rem(100px);
            height: rem(47px);
            
            @include mq('md'){
                width: rem(187px);
                height: rem(87px);
            }
        }

        &-nav {

            @include mq('md'){
                justify-content: flex-end;
            }

            .nav-link {
                font-family: $rg;
                color: $white;
                padding: 0 rem(20px);
            }
        }

        &--scrolled {
            background-color: $purple !important;
        }
    }
}
