//--  Fonts --//
$lt: 'Raleway Light';
$bk: 'Raleway Black';
$rg: 'Raleway';
$bd: 'Raleway Bold';
$eb: 'Raleway Extra Bold';

// -- Colors -- //
$white: #ffffff;
$red: #B01630;
$txt: #333333;
$navy: #7B858B;
$gray: #cccccc;
$grayd: #DDDDDD;
$gray-lt: #E8E8E8;
$green: #808B26;
$black: #000000;
$brown: #3D251D;
$brown-dk: #19100F;
