//--  Fonts --//
$lt: 'Raleway Light';
$bk: 'Raleway Black';
$rg: 'Raleway';
$bd: 'Raleway Bold';
$eb: 'Raleway Extra Bold';

// -- Colors -- //
$white: #ffffff;
$red: #B01630;
$txt: #606060;
$navy: #7B858B;
$gray: #cccccc;
$grayd: #DDDDDD;
$gray-lt: #E8E8E8;
$green: #808B26;
$black: #000000;
$brown: #3D251D;
$brown-dk: #19100F;
$blue-dk: #002C55;
$blue: #312AB7;
$berry: #1E1A3C;
$purple: #B026C4;
$salmon: #FF40A0;